body {
   font-family:Raleway, sans-serif;
   font-size:100%;
   padding:2.0em;
}
.fluid-container {
	overflow:scroll;

}
.row {
	margin-left:0;
	margin-right:0;
}

    header {
        background:#ffffff;
    }
    header.row {
        margin:0;
        padding-top:2.0em;
        
    }
    header.row img.thumbnail {
        margin:0 auto;
        border:none;
        width:60%;
    }
    header.row h2 {
        font-size:1.0em;
        text-transform:lowercase;
        color:#ED1E79;
        letter-spacing:0.1em;
        margin-top:0;
        padding-left:0.3em;
        text-align: center;
    }
    header nav.nav .glyphicon-menu-up {
        color:#ffffff;
}
h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
h3.link {
    color:#337ab7;
}
h3.remove-toggle-arrow:hover {
    cursor:pointer;
    color:#999999;
}
h3 span{
    margin-left:1.0em;
}
p, li {
    font-size:1.1em;
    letter-spacing: 0.05em;
    color:#666666;
    margin-bottom:1.5em;
}
a.link {
   font-size:1.2em;
   letter-spacing:0.1em;
}
a:hover {
   text-decoration:none;
   cursor:pointer;
   color:#999999;
}
.border-bottom {
    border-bottom:1px solid #999999;
    padding-bottom:1.0em;
}

form {
	
}
input, textarea {
	display:block;
}
input {
	width:40%;
}
textarea {
	width:100%;
}
img {
   width:100%;
   padding:1.0em;
}
header nav {
   text-align:right;
}
header nav a {
   font-size:1.2em;
   margin-right:10%;
   letter-spacing:0.1em;
}
section.row {
    padding:2.0em;
    margin:2.0em;
    color:#444;
}
#collapsible-panels {
    margin-top:18%;
}

section.row:first-child {
  background:#00A99D;
}
section.row:nth-child(2) {
  background:#22B573;
}
section.row:nth-child(3) {
  background:#F7931E;
}
section.row:nth-child(4) {
  background:#F15A24;
}

section.row nav.nav {
   font-size:3.0em;
   text-transform:lowercase;
   font-weight:normal;
   letter-spacing:0.2em;
   cursor:pointer;
   text-align: center;
}
section.row nav.nav:hover {
   color:#666666;
}

article {
  background:#ffffff;
  margin:2.0em;
  padding:2.0em;
}
.portfolio-project {
    padding-left:2.0em;
    padding-right:2.0em;
}
.portfolio-details {
  text-align:left;
}
#portfolio-project {
   padding:1.0em;
}
.carousel-control {
    width:5%;
}
.carousel-indicators {
    position:absolute;
    top:-2.0px;
}
.carousel-indicators li {
    background-color: rgb(153, 153, 153);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.carousel-indicators li.active {
    background-color: rgb(0, 169, 157);
}
.carousel-control.right, .carousel-control.left {
    color: rgb(0, 169, 157);
    font-weight: 100;
    background: none;
}
.dl-horizontal dt {
    text-align: left;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 1em;
    color: rgb(68, 68, 68);
    padding-top: 1em;
    border-top: 1px solid rgb(153, 153, 153);
}
.dl-horizontal dd {
    margin-left: 44%;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    padding-top: 1em;
}
.glyphicon, .fa {
   cursor:pointer;
}

.glyphicon p, .fa p {
    font-size:0.3em;
}
.glyphicon:hover, .fa:hover, .glyphicon p:hover, .fa p:hover {
   color:#999999;
}
.glyphicon-asterisk {
    cursor: default;
    font-size: 0.6em;
    vertical-align: top;
    color: red;
}
.glyphicon-asterisk:hover {
	color:#666666;
}
.glyphicon-menu-down, .glyphicon-menu-up {
   font-size:0.5em;
   top:-0.2em;
}

.glyphicon-remove {
   position:relative;
   top:0;
   float:right;
   font-size:1.3em;
}

.glyphicon-envelope, .glyphicon-download-alt, .fa-instagram, .fa-linkedin-square, .fa-github-square {
   font-size:4.0em;
   color:#666666;
}

footer {
	/*
   display:flex;
   justify-content: space-around;
   */
   margin-top:5%;
   text-align: center;
}
footer a {
	/*
	flex:1 auto;
	*/
   vertical-align:bottom;
}
footer .glyphicon, footer .fa {
	margin-right:5%;
	margin-left:5%;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 60em;
    margin-top: 1em;
    overflow: scroll;
}



